/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}
.error-message{
    color: red;
}
.show-more-btn{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;
}